<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polimi.dilapp">
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="27" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofruit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        >
        <activity android:name=".main.MainActivity"
            android:noHistory="true"
            android:launchMode="singleTop"
            android:finishOnTaskLaunch="false"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.CreateAccountActivity"
            android:finishOnTaskLaunch="false" />
        <activity android:name=".main.NewAccountActivity"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="false"/>
        <activity android:name=".startgame.StartGameActivity"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="false"/>
        <activity android:name=".levelmap.LevelMapActivity"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="false"/>
        <activity
            android:name=".levels.view.ActivityOneOne"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="false">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".levels.view.ActivityOneTwo">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".levels.view.ActivityOneThree">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".levels.view.ActivityTwoOne" />
        <activity android:name=".levels.view.ActivityTwoTwo" />
        <activity android:name=".levels.view.ActivityTwoThree" />
        <activity android:name=".levels.view.EndLevelScreen" />
        <activity android:name=".levels.view.ActivityThreeOne" />
        <activity android:name=".report.ReportMainActivity"
            android:hardwareAccelerated="true"/>
        <activity android:name=".report.ReportSettingsActivity" />
        <activity android:name=".levels.view.ActivityThreeTwo" />
        <activity android:name=".report.ReportSpecActivity"
            android:hardwareAccelerated="true"/>
        <activity android:name=".levelmap.ReportLevelMapActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>